.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: blue;
}

.form-control,
.input-group-text {
    border-radius: 0;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.nav-link.active {
    font-weight: bold;
    color: #0d6efd !important;
}

#container {
    min-width: 320px;
    max-width: 800px;
    height: 500px;
    margin: 1em auto;
}

.animated-line {
    stroke-dasharray: 8;
    stroke-dashoffset: 10;
    animation: dash 5s linear infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 100;
    }

    to {
        stroke-dashoffset: 20;
    }
}